BETTER_AUTH_SECRET=
BETTER_AUTH_URL=
CORS_ORIGIN=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Development
DATABASE_URL=

# Production
# DATABASE_URL=

R2_ACCOUNT_ID=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_BUCKET=

MAIL_USERNAME=
ZEPTOMAIL_URL=
ZEPTOMAIL_TOKEN=

NEXT_PUBLIC_IS_REGISTRATION_OPENED=

MAILEROO_SENDING_KEY=
PRIMARY_EMAIL_SERVICE=

PDF_EXPORTER_URL=
